<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.innovacion.turnero" version="1.0.0">
  <name>Turnero administrador</name>
  <description>Con esta aplicacion se podra ir cambiando los turnos de la aplicacion mobile</description>
  <content src="index.html"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="orientation" value="portrait" />
  <plugin name="cordova-plugin-device" source="npm"/>
  <plugin name="cordova-plugin-geolocation" source="npm"/>

  <plugin name="cordova-plugin-whitelist" source="npm"/>
  <icon src="icon.png"/>
  <platform name="android">
    <icon src="www/res/icon/android/Sapem.png" density="ldpi"/>
    <icon src="www/res/icon/android/Sapem.png" density="mdpi"/>
    <icon src="www/res/icon/android/Sapem.png" density="hdpi"/>
    <icon src="www/res/icon/android/Sapem.png" density="xhdpi"/>
    <icon src="www/res/icon/android/Sapem.png" density="xxhdpi"/>
    <icon src="www/res/icon/android/Sapem.png" density="xxxhdpi"/>
    <splash src="www/res/screen/android/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="www/res/screen/android/drawable-land-mdpi-screen.png" density="land-mdpi"/>
    <splash src="www/res/screen/android/drawable-land-hdpi-screen.png" density="land-hdpi"/>
    <splash src="www/res/screen/android/drawable-land-xhdpi-screen.png" density="land-xhdpi"/>
    <splash src="www/res/screen/android/drawable-land-xxhdpi-screen.png" density="land-xxhdpi"/>
    <splash src="www/res/screen/android/drawable-land-xxxhdpi-screen.png" density="land-xxxhdpi"/>
    <splash src="www/res/screen/android/drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="www/res/screen/android/drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="www/res/screen/android/drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="www/res/screen/android/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
    <splash src="www/res/screen/android/drawable-port-xxhdpi-screen.png" density="port-xxhdpi"/>
    <splash src="www/res/screen/android/drawable-port-xxxhdpi-screen.png" density="port-xxxhdpi"/>
  </platform>

  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>